*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }

html, body {
  height: 100%;
  }

body{

	background:linear-gradient(rgba(6,7,10,.3), rgba(6,5,5,.9)),
    url(assets/home.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	overflow: hidden;
	
	background-position: top center;
	font-family: Arial, Halvetica, sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Righteous);


  
  /*
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 100%;
    }*/

h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 8em; 
  text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
  }
  h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        hsla(8,20%,90%,1) 45%,
        hsla(8,20%,90%,1) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
    animation: shad-anim 15s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }
.rt-mr{
	margin-left: 0px;
}

.center {
  margin: auto;
  width: 50%;
  
  padding: 10px;
}



.app-cont{
	/*width: 55vh;
	margin: 100px auto;*/
	background-color: rgba(4,48,50,0);
	padding: 20px;
	text-align: center;
}
.app-cont:focus{
	background-color: rgba(4,48,50,0.6);
}
input[type=text] {
  width: 50%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none; 
  font-size: 16px;
  background-color: rgba(46, 114, 209,0.5);
  height: 50px;
  
  background-position: 3px 3px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  color: rgba(255,250,250,.8);
  margin-top: 20px;

}
.searchBox i { 
    position: absolute; 
} 
          
.searchBox { 
    width: 100%; 
    margin-bottom: 10px; 
} 
         
.icon { 
	margin-top: 25px;
    padding: 10px; 
    min-width: 40px; 
} 


input[type=text]:focus {
  width: 100%;
  background-color: rgb(5,20,60,0.7);
}


.weather-body{
	display: none;
	padding:20px;
	width: 100%;
	color: rgba(205,195,255,1);
	font-weight: bold;
	line-height: 2rem;
	border-radius: 10px;
	background-color: rgba(2,22,15,0.3);
	height: 45vh;
	margin-top: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.location-details{
	font-weight: bold;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding:60px auto ;
	margin-left: 70px;
  font-size: 15pt;
}

.weather-status{
	
	padding:85px auto ;
	margin-left: 50px;
}

.temp{
	font-size: 50pt;
	font-weight: 700;
	margin:20px 0;
	text-shadow: 2px 4px rgba(25,55,47,0.3);
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.mtemp,.feeltemp,.humidity, .status , .windspeed{
	font-size: 15pt;
	font-weight:600;
	font-family: "Comic Sans MS", cursive, sans-serif;

}
.foot1{
	align-content: center;
	width: 50%;
	text-align: center;
  padding-left: 50px;
}
footer{
	margin-top: 35px;
	color: rgba(205,195,255,1);
  position: center;
}

.error{
  display: none;
  padding:20px;
  width: 100%
  border-radius: 10px;
  position: center;
  text-align: center;
  background-color:rgba(2,22,15,0.3); 
  color: rgba(205,195,255,1);
  font-size: 15pt;
  font-weight:600;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.foot{
  display: none;
  padding:20px;
  width: 100%
  border-radius: 10px;
  position: center;
  text-align: center;
  background-color:rgba(2,22,15,0.3); 
  font-size: 15pt;
  font-weight:600;
  font-family: "Comic Sans MS", cursive, sans-serif;
}