@font-face {
	 font-family: "ubuntu";
	 font-style: italic;
	 font-weight: 300;
	 src: local("Lato Light Italic"), local("Lato-LightItalic"), url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2) format("woff2");
}
/* body {
	 height: 100vh;
	 margin: 0;
	 background-color: #333641;
	 font-family: "ubuntu", Arial, sans-serif;
	 overflow-x: hidden;
	 display: grid;
	 place-items: center;
}
 a {
	 text-decoration: none;
	 color: #9ca0b1;
}*/

body{

	background:linear-gradient(rgba(6,7,10,0), rgba(6,5,5,0)),
    url("assets/Home.jpeg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
	overflow: hidden;
	
	background-position: top center;
	font-family: Arial, Halvetica, sans-serif;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
 .wrapper {
	 text-align: center;
}
 .wrapper h1 {
	 color: #fff;
	 font-size: 92px;
	 font-family: "ubuntu";
	 text-transform: uppercase;
	 font-weight: 700;
	 font-family: "Josefin Sans", sans-serif;
	 background: linear-gradient(to right, rgba(6, 9, 23,0.9), rgba(
132, 156, 217
,0.8),rgba(10, 30, 64,0.7));
	 background-size: auto auto;
	 background-clip: border-box;
	 background-size: 200% auto;
	 color: #fff;
	 background-clip: text;
	 text-fill-color: transparent;
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 animation: textclip 1.5s linear infinite;
	 display: inline-block;
}
 @keyframes textclip {
	 to {
		 background-position: 200% center;
	}
}
 
